<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/021%EB%B3%80%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 변수 ( Variable)

In [2]:
#파이썬은 변수 선언시 특별한 키워드 x

In [5]:
a = 10
a

10

In [6]:
type(a)

int

In [7]:
print("a 값은", a, "입니다")

a 값은 10 입니다

In [10]:
b = 5
print(a + b)

15

In [11]:
#print(c) #NameError

In [12]:
print(a)

10

# 형변환 함수
int(), float(), bool()

In [13]:
myName = "홍길동"

In [14]:
print("제 이름은", myName, "입니다");

제 이름은 홍길동 입니다

In [15]:
print("제 이름은" + myName + "입니다");

제 이름은홍길동입니다

In [16]:
age = 10

In [17]:
"""
print("제 나이는 " + age + "살 입니다.") string + int 불가
"""

TypeError: can only concatenate str (not "int") to str

In [18]:
#형변환 함수 사용
print("제 나이는 " + str(age) + " 살 입니다.");

제 나이는 10 살 입니다.

In [20]:
print(10, 20, 30, sep='--')

10--20--30

In [21]:
print(10,20,30)

10 20 30

In [22]:
print(10,20,30, sep='t')

10t20t30

In [24]:
print('hello \n hello')

hello
 hello

In [26]:
path = "D:\KDT907\01_Python"
print(path)

D:\KDT907_Python

## Raw String (r-string)
escaping 없는 문자열
문자 그대로 출력

In [27]:
path = r"D:\KDT907\01_Python"
print(path)

D:\KDT907\01_Python

In [30]:
    print(10)
    print(20)
    print(30)
    print(40)

10
20
30
40

# 문자열 포맷팅 (formmating)

## 방법1 **% 연산자 사용**

In [31]:
a = "Hello %s"
print(a)

Hello %s

In [34]:
a = "Hello %s" % ("파이썬")
print(a)

Hello 파이썬

In [35]:
a = "영원히 %s 받는 %s " % ("고통", "이종현")
print(a)

영원히 고통 받는 이종현

In [36]:
import math # math 모듈 import

In [38]:
math.pi

3.141592653589793

In [42]:
a = "원주율은 %f 입니다."
a % (math.pi)
"원주율은 %.2f 입니다." %(math.pi)

'원주율은 3.14 입니다.'

## 방법2 **format() 함수 사용**

In [44]:
fmt1 = "내 이름은 {}, 나는 {} 살입니다."
fmt1

'내 이름은 {}, 나는 {} 살입니다.'

In [50]:
fmt1.format("장고운", 34)

'내 이름은 장고운, 나는 34 살입니다.'

In [51]:
fmt1 = "내 이름은 {name}, 나는 {age} 살입니다."
fmt1

'내 이름은 {name}, 나는 {age} 살입니다.'

In [54]:
fmt1 = "내 이름은 {name}, 나는 {age} 살입니다."
fmt1.format(name = "김동호", age = 32)

'내 이름은 김동호, 나는 32 살입니다.'

In [56]:
print("{}".format(math.pi))
print("{:.3f}".format(math.pi))

3.141592653589793
3.142

## 방법3 **f-String 사용**

In [58]:
name = '신철희'
age = 38

In [62]:
'이름: {}, 나이: {}'.format(name,age)

'이름: 신철희, 나이: 38'

In [61]:
'이름: {}, 나이: {}'.format(age,name)

'이름: 38, 나이: 신철희'

In [63]:
f'이름: {name}, 나이: {age}'

'이름: 신철희, 나이: 38'

In [65]:
f'원주율은 {math.pi} 입니다'

'원주율은 3.141592653589793 입니다'

In [71]:
f'원주율은 {math.pi:.2f} 입니다'

'원주율은 3.14 입니다'