<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/03_DataFrame_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# groupby
  + 데이터를 특정 컬럼으로 묶어서 그룹화
  + 아래의 세 단계를 적용하여 데이터를 그룹화(groupping) (SQL의 group by 와 개념적으로는 동일, 사용법은 유사)
    - 데이터 분할 (split)
    - operation 적용 (apply)
    - 데이터 병합 (combine)

In [187]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [188]:
dataset_dir = r'/content/drive/MyDrive/Py19.이종현/dataset'
filepath = os.path.join(dataset_dir, 'titanic.csv')
filepath

'/content/drive/MyDrive/Py19.이종현/dataset/titanic.csv'

In [29]:
# CSV 파일 -> Dataframe 으로 읽어오기

def load_titanic(filepath):
  return pd.read_csv(filepath)
df = load_titanic(filepath)
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

## groupby(),  groups 속성
 - 각 그룹과 그룹에 속한 index를 dict 형태로 표현

In [30]:
grouped_pclass = df.groupby('Pclass')
grouped_pclass   # DataFrameGroupBy 객체 (이하 'groupby 객체'라 하겠습니다)

In [31]:
# groupby 객체의 속성
#   - groups -> dict 형태
#   - key -> 컬럼의 각 값
#   -  value -> 인덱스 값들의 list

In [32]:
grouped_pclass.groups   # Pclass 의 값은 1, 2, 3 세개 밖에 없었으니 그룹 개수는 3개다

{1: [1, 3, 6, 11, 23, 27, 30, 31, 34, 35, 52, 54, 55, 61, 62, 64, 83, 88, 92, 96, 97, 102, 110, 118, 124, 136, 137, 139, 151, 155, 166, 168, 170, 174, 177, 185, 187, 194, 195, 209, 215, 218, 224, 230, 245, 248, 252, 256, 257, 258, 262, 263, 268, 269, 270, 273, 275, 284, 290, 291, 295, 297, 298, 299, 305, 306, 307, 309, 310, 311, 318, 319, 325, 329, 331, 332, 334, 336, 337, 339, 341, 351, 356, 366, 369, 370, 373, 375, 377, 380, 383, 390, 393, 412, 430, 434, 435, 438, 445, 447, ...], 2: [9, 15, 17, 20, 21, 33, 41, 43, 53, 56, 58, 66, 70, 72, 78, 84, 98, 99, 117, 120, 122, 123, 133, 134, 135, 144, 145, 148, 149, 150, 161, 178, 181, 183, 190, 191, 193, 199, 211, 213, 217, 219, 221, 226, 228, 232, 234, 236, 237, 238, 239, 242, 247, 249, 259, 265, 272, 277, 288, 292, 303, 308, 312, 314, 316, 317, 322, 323, 327, 340, 342, 343, 344, 345, 346, 357, 361, 385, 387, 389, 397, 398, 399, 405, 407, 413, 416, 417, 418, 426, 427, 432, 437, 439, 440, 443, 446, 450, 458, 463, ...], 3: [0, 2, 4, 5, 7, 8, 10, 12, 13, 14, 16, 18, 19, 22, 24, 25, 26, 28, 29, 32, 36, 37, 38, 39, 40, 42, 44, 45, 46, 47, 48, 49, 50, 51, 57, 59, 60, 63, 65, 67, 68, 69, 71, 73, 74, 75, 76, 77, 79, 80, 81, 82, 85, 86, 87, 89, 90, 91, 93, 94, 95, 100, 101, 103, 104, 105, 106, 107, 108, 109, 111, 112, 113, 114, 115, 116, 119, 121, 125, 126, 127, 128, 129, 130, 131, 132, 138, 140, 141, 142, 143, 146, 147, 152, 153, 154, 156, 157, 158, 159, ...]}

In [33]:
grouped_pclass.size()  # 각 group별로 담겨 있는 데이터 개수 확인

Pclass
1    216
2    184
3    491
dtype: int64

In [34]:
# 성별(Sex) 로 grouping 해보기
grouped_gender = df.groupby('Sex')
grouped_gender #그룹개수 2개!

In [35]:
grouped_gender.groups

{'female': [1, 2, 3, 8, 9, 10, 11, 14, 15, 18, 19, 22, 24, 25, 28, 31, 32, 38, 39, 40, 41, 43, 44, 47, 49, 52, 53, 56, 58, 61, 66, 68, 71, 79, 82, 84, 85, 88, 98, 100, 106, 109, 111, 113, 114, 119, 123, 128, 132, 133, 136, 140, 141, 142, 147, 151, 156, 161, 166, 167, 172, 177, 180, 184, 186, 190, 192, 194, 195, 198, 199, 205, 208, 211, 215, 216, 218, 229, 230, 233, 235, 237, 240, 241, 246, 247, 251, 254, 255, 256, 257, 258, 259, 264, 268, 269, 272, 274, 275, 276, ...], 'male': [0, 4, 5, 6, 7, 12, 13, 16, 17, 20, 21, 23, 26, 27, 29, 30, 33, 34, 35, 36, 37, 42, 45, 46, 48, 50, 51, 54, 55, 57, 59, 60, 62, 63, 64, 65, 67, 69, 70, 72, 73, 74, 75, 76, 77, 78, 80, 81, 83, 86, 87, 89, 90, 91, 92, 93, 94, 95, 96, 97, 99, 101, 102, 103, 104, 105, 107, 108, 110, 112, 115, 116, 117, 118, 120, 121, 122, 124, 125, 126, 127, 129, 130, 131, 134, 135, 137, 138, 139, 143, 144, 145, 146, 148, 149, 150, 152, 153, 154, 155, ...]}

In [36]:
grouped_gender.size()

Sex
female    314
male      577
dtype: int64

## get_group()
그룹별 DataFrame 리턴

In [37]:
grouped_pclass.get_group(1) # plcass 가 1 인 그룹의 DataFrame

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S
23,24,1,1,"Sloper, Mr. William Thompson",male,28.0,0,0,113788,35.5000,A6,S
...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C

In [38]:
grouped_gender.get_group('female')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

### groupby 객체는 iterable 하다
group id(key) 과 group(DataFrame) 의 tuple 로 iteration 된다.

In [39]:
for groupid, group in df.groupby('Pclass'):
  print(groupid, type(group), group.Pclass.count())

1 <class 'pandas.core.frame.DataFrame'> 216
2 <class 'pandas.core.frame.DataFrame'> 184
3 <class 'pandas.core.frame.DataFrame'> 491

## groupby 객체의 기초 연산 메소드
 - 그룹 데이터에 적용 가능한 통계 함수(NaN은 제외하여 연산)
 - count - 데이터 개수
 - sum   - 데이터의 합
 - mean, std, var - 평균, 표준편차, 분산
 - min, max - 최소, 최대값

In [40]:
grouped_pclass.count()

# goupby() 로 쪼갬 <-- split
# group 별로 count()연산 <-- apply
# DataFrame 으로 합하여 리턴 <-- combine    (원본과는 다른 새로운 DataFrame)

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
1,216,216,216,216,186,216,216,216,216,176,214
2,184,184,184,184,173,184,184,184,184,16,184
3,491,491,491,491,355,491,491,491,491,12,491

In [41]:
grouped_pclass.sum()

<ipython-input-41-abc034102da6>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_pclass.sum()

        PassengerId  Survived      Age  SibSp  Parch        Fare
Pclass
1             99705       136  7111.42     90     77  18177.4125
2             82056        87  5168.83     74     70   3801.8417
3            215625       119  8924.92    302    193   6714.6951

In [42]:
# 객실 등급별 승객 나이의 평균
grouped_pclass.mean()['Age']

<ipython-input-42-7b637a3921b4>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_pclass.mean()['Age']

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [43]:
grouped_pclass.mean()['Survived']

<ipython-input-43-7fe65db275ff>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_pclass.mean()['Survived']

Pclass
1    0.629630
2    0.472826
3    0.242363
Name: Survived, dtype: float64

In [44]:
# 성별에 따른 생존자
grouped_gender.mean()['Survived']

<ipython-input-44-ea00570f2a16>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_gender.mean()['Survived']

Sex
female    0.742038
male      0.188908
Name: Survived, dtype: float64

## 복수 columns로 groupping 하기
 - groupby에 column 리스트를 전달
 - 통계함수를 적용한 결과는 multiindex를 갖는 dataframe

In [45]:
# 'pclass' x 'Sex' 에 따른 생존률 구하기

In [46]:
grouped_multi =  df.groupby(['Pclass', 'Sex'])
grouped_multi

In [47]:
grouped_multi.groups

{(1, 'female'): [1, 3, 11, 31, 52, 61, 88, 136, 151, 166, 177, 194, 195, 215, 218, 230, 256, 257, 258, 268, 269, 275, 290, 291, 297, 299, 306, 307, 309, 310, 311, 318, 319, 325, 329, 334, 337, 341, 356, 366, 369, 375, 380, 383, 393, 412, 435, 457, 486, 496, 498, 504, 513, 520, 523, 537, 539, 540, 556, 558, 571, 577, 581, 585, 591, 609, 627, 641, 669, 689, 700, 708, 710, 716, 730, 742, 759, 763, 765, 779, 781, 796, 809, 820, 829, 835, 842, 849, 853, 856, 862, 871, 879, 887], (1, 'male'): [6, 23, 27, 30, 34, 35, 54, 55, 62, 64, 83, 92, 96, 97, 102, 110, 118, 124, 137, 139, 155, 168, 170, 174, 185, 187, 209, 224, 245, 248, 252, 262, 263, 270, 273, 284, 295, 298, 305, 331, 332, 336, 339, 351, 370, 373, 377, 390, 430, 434, 438, 445, 447, 449, 452, 453, 456, 460, 462, 467, 475, 484, 487, 492, 493, 505, 507, 512, 515, 527, 536, 544, 545, 550, 555, 557, 572, 583, 587, 599, 602, 604, 607, 621, 625, 630, 632, 633, 645, 647, 659, 660, 662, 671, 679, 681, 690, 694, 698, 701, ...], (2, 'female'): [9, 15, 41, 43, 53, 56, 58, 66, 84, 98, 123, 133, 161, 190, 199, 211, 237, 247, 259, 272, 303, 312, 316, 322, 323, 327, 345, 346, 357, 387, 389, 399, 416, 417, 426, 427, 432, 437, 440, 443, 446, 458, 472, 473, 506, 516, 518, 526, 530, 535, 546, 576, 580, 596, 600, 608, 615, 618, 635, 651, 670, 706, 717, 720, 726, 747, 750, 754, 772, 774, 801, 854, 865, 866, 874, 880], (2, 'male'): [17, 20, 21, 33, 70, 72, 78, 99, 117, 120, 122, 134, 135, 144, 145, 148, 149, 150, 178, 181, 183, 191, 193, 213, 217, 219, 221, 226, 228, 232, 234, 236, 238, 239, 242, 249, 265, 277, 288, 292, 308, 314, 317, 340, 342, 343, 344, 361, 385, 397, 398, 405, 407, 413, 418, 439, 450, 463, 466, 476, 481, 529, 543, 547, 549, 551, 562, 570, 582, 586, 594, 619, 626, 637, 655, 658, 665, 666, 672, 673, 674, 684, 685, 695, 705, 714, 722, 723, 728, 732, 733, 734, 755, 757, 791, 795, 800, 808, 812, 817, ...], (3, 'female'): [2, 8, 10, 14, 18, 19, 22, 24, 25, 28, 32, 38, 39, 40, 44, 47, 49, 68, 71, 79, 82, 85, 100, 106, 109, 111, 113, 114, 119, 128, 132, 140, 141, 142, 147, 156, 167, 172, 180, 184, 186, 192, 198, 205, 208, 216, 229, 233, 235, 240, 241, 246, 251, 254, 255, 264, 274, 276, 279, 289, 293, 300, 315, 328, 330, 347, 358, 359, 362, 367, 368, 374, 376, 381, 394, 396, 402, 404, 409, 415, 419, 423, 431, 436, 448, 469, 474, 479, 483, 485, 501, 502, 503, 533, 534, 541, 542, 554, 559, 564, ...], (3, 'male'): [0, 4, 5, 7, 12, 13, 16, 26, 29, 36, 37, 42, 45, 46, 48, 50, 51, 57, 59, 60, 63, 65, 67, 69, 73, 74, 75, 76, 77, 80, 81, 86, 87, 89, 90, 91, 93, 94, 95, 101, 103, 104, 105, 107, 108, 112, 115, 116, 121, 125, 126, 127, 129, 130, 131, 138, 143, 146, 152, 153, 154, 157, 158, 159, 160, 162, 163, 164, 165, 169, 171, 173, 175, 176, 179, 182, 188, 189, 196, 197, 200, 201, 202, 203, 204, 206, 207, 210, 212, 214, 220, 222, 223, 225, 227, 231, 243, 244, 250, 253, ...]}

In [48]:
grouped_multi.size()

Pclass  Sex
1       female     94
        male      122
2       female     76
        male      108
3       female    144
        male      347
dtype: int64

In [49]:
grouped_multi.mean()

<ipython-input-49-9a396587f0f1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_multi.mean()

               PassengerId  Survived        Age     SibSp     Parch  \
Pclass Sex
1      female   469.212766  0.968085  34.611765  0.553191  0.457447
       male     455.729508  0.368852  41.281386  0.311475  0.278689
2      female   443.105263  0.921053  28.722973  0.486842  0.605263
       male     447.962963  0.157407  30.740707  0.342593  0.222222
3      female   399.729167  0.500000  21.750000  0.895833  0.798611
       male     455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Pclass Sex
1      female  106.125798
       male     67.226127
2      female   21.970121
       male     19.741782
3      female   16.118810
       male     12.661633

In [50]:
# multi level index 에서 특정 row 접근하려면?

In [51]:
grouped_multi.mean().loc[(2, 'female')] # < -- tuple 형태로 접근

<ipython-input-51-fc4446ad1dc3>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  grouped_multi.mean().loc[(2, 'female')] # < -- tuple 형태로 접근

PassengerId    443.105263
Survived         0.921053
Age             28.722973
SibSp            0.486842
Parch            0.605263
Fare            21.970121
Name: (2, female), dtype: float64

In [52]:
# 지금까지는 컬럼명을 사용하여 그룹핑을 했는데
# 인덱스가 있는 경우의 그룹핑에 대해 보겠습니다.

In [53]:
# TODO : index 를 이용한 groupby

## index를 이용한 group by
 - index가 있는 경우, groupby 함수에 level 사용 가능
   - level은 index의 depth를 의미하며, 가장 왼쪽부터 0부터 증가
   
* **set_index** 함수
 - column 데이터를 index 레벨로 변경
* **reset_index** 함수
 - 인덱스 초기화

In [54]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [55]:
df.set_index('Pclass')

,PassengerId,Survived,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,,,,,,,,,,,
3,1,0,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,3,1,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
1,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
3,5,0,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
2,887,0,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
1,888,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
3,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
1,890,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
3,891,0,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [56]:
df.set_index(['Pclass', 'Sex'])

,,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,Sex,,,,,,,,,,
3,male,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S
1,female,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C
3,female,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
1,female,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S
3,male,5,0,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
2,male,887,0,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S
1,female,888,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S
3,female,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S
1,male,890,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C
3,male,891,0,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q

In [57]:
df.set_index(['Pclass', 'Sex']).reset_index()

,Pclass,Sex,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,3,male,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S
1,1,female,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C
2,3,female,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,1,female,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S
4,3,male,5,0,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,male,887,0,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S
887,1,female,888,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S
888,3,female,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S
889,1,male,890,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C
890,3,male,891,0,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q

In [58]:
# index 가 있는 DataFrame 을 groupby() 할때
# 'level' 이나 '함수'를 이용할수 있다.

In [59]:
df.set_index('Embarked').groupby(level=0).mean()

# level = 0:  0번째 index 기준으로 grouping 발생!

<ipython-input-59-5f8b2cd675d8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index('Embarked').groupby(level=0).mean()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
Embarked,,,,,,,
C,445.357143,0.553571,1.886905,30.814769,0.386905,0.363095,59.954144
Q,417.896104,0.389610,2.909091,28.089286,0.428571,0.168831,13.276030
S,449.527950,0.336957,2.350932,29.445397,0.571429,0.413043,27.079812

In [60]:
df.set_index('Age').groupby(level=0).mean()

<ipython-input-60-980777c35bbc>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index('Age').groupby(level=0).mean()

       PassengerId  Survived  Pclass  SibSp  Parch      Fare
Age
0.42         804.0       1.0     3.0    0.0    1.0    8.5167
0.67         756.0       1.0     2.0    1.0    1.0   14.5000
0.75         557.5       1.0     3.0    2.0    1.0   19.2583
0.83         455.5       1.0     2.0    0.5    1.5   23.8750
0.92         306.0       1.0     1.0    1.0    2.0  151.5500
...            ...       ...     ...    ...    ...       ...
70.00        709.5       0.0     1.5    0.5    0.5   40.7500
70.50        117.0       0.0     3.0    0.0    0.0    7.7500
71.00        295.5       0.0     1.0    0.0    0.0   42.0792
74.00        852.0       0.0     3.0    0.0    0.0    7.7750
80.00        631.0       1.0     1.0    0.0    0.0   30.0000

[88 rows x 6 columns]

In [61]:
# 이번에는 함수를 사용해보겠습니다 .
# groupby(함수) =>
#   함수의 매개변수는 index 다
#   함수가 리턴하는 값이 grouping 기준이 된다!


# 나이대별로 생존률 구하기

In [62]:
df.set_index('Age')

,PassengerId,Survived,Pclass,Name,Sex,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Age,,,,,,,,,,,
22.0,1,0,3,"Braund, Mr. Owen Harris",male,1,0,A/5 21171,7.2500,NaN,S
38.0,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,1,0,PC 17599,71.2833,C85,C
26.0,3,1,3,"Heikkinen, Miss. Laina",female,0,0,STON/O2. 3101282,7.9250,NaN,S
35.0,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,1,0,113803,53.1000,C123,S
35.0,5,0,3,"Allen, Mr. William Henry",male,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
27.0,887,0,2,"Montvila, Rev. Juozas",male,0,0,211536,13.0000,NaN,S
19.0,888,1,1,"Graham, Miss. Margaret Edith",female,0,0,112053,30.0000,B42,S
NaN,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,1,2,W./C. 6607,23.4500,NaN,S
26.0,890,1,1,"Behr, Mr. Karl Howell",male,0,0,111369,30.0000,C148,C
32.0,891,0,3,"Dooley, Mr. Patrick",male,0,0,370376,7.7500,NaN,Q

In [63]:
# 함수 준비
import math
def age_categorize(age):
  if math.isnan(age):     # np.isnan 과 마찬가지 동작..
    return -1

  return math.floor(age / 10) * 10     # <-- 이 리턴하는 값이 곧 grouping 기준이 된다.

In [64]:
# 함수 테스트
df['Age'].apply(lambda age: age_categorize(age))

0      20
1      30
2      20
3      30
4      30
       ..
886    20
887    10
888    -1
889    20
890    30
Name: Age, Length: 891, dtype: int64

In [65]:
df.set_index('Age').groupby(age_categorize).mean()

<ipython-input-65-6435c97b03b7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index('Age').groupby(age_categorize).mean()

     PassengerId  Survived    Pclass     SibSp     Parch       Fare
Age
-1    435.581921  0.293785  2.598870  0.564972  0.180791  22.158567
 0    424.741935  0.612903  2.629032  1.854839  1.403226  30.576679
 10   444.362745  0.401961  2.470588  0.666667  0.470588  32.535132
 20   433.231818  0.350000  2.450000  0.322727  0.250000  27.278937
 30   472.449102  0.437126  2.113772  0.353293  0.329341  40.377294
 40   465.606742  0.382022  1.966292  0.370787  0.471910  38.002297
 50   440.187500  0.416667  1.562500  0.291667  0.270833  47.933333
 60   433.736842  0.315789  1.473684  0.263158  0.368421  48.367542
 70   496.500000  0.000000  1.833333  0.166667  0.166667  30.197233
 80   631.000000  1.000000  1.000000  0.000000  0.000000  30.000000

In [66]:
df.set_index('Age').groupby(age_categorize).mean()['Survived']

<ipython-input-66-c08fd31a17b8>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index('Age').groupby(age_categorize).mean()['Survived']

Age
-1     0.293785
 0     0.612903
 10    0.401961
 20    0.350000
 30    0.437126
 40    0.382022
 50    0.416667
 60    0.315789
 70    0.000000
 80    1.000000
Name: Survived, dtype: float64

##### groupby(by=??) by 매개변수에는 무엇이 올수 있나?

- groupby(컬럼 혹은 컬럼 리스트)
- gorupby(level=?)
- groupby(함수)
- groupby(Series 혹은 dict)

###  도전: 이름(Name) 의 시작하는 알파벳으로 승객수 집계

In [84]:
# 도전) 이름(Name) 시작 알파벳별로 승객수 집계
"""
A    51
B    72
C    69
D    43
...
...
U     1
V    15
W    33
Y     7
Z     3
"""
def apha(name):
  return name[0].upper()

df.set_index('Name').groupby(apha).count()

,PassengerId,Survived,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Name,,,,,,,,,,,
A,51,51,51,51,51,51,51,51,51,10,51
B,72,72,72,72,66,72,72,72,72,23,72
C,69,69,69,69,63,69,69,69,69,19,69
D,43,43,43,43,40,43,43,43,43,8,43
E,12,12,12,12,10,12,12,12,12,2,12
F,31,31,31,31,23,31,31,31,31,13,31
G,41,41,41,41,37,41,41,41,41,10,41
H,69,69,69,69,59,69,69,69,69,16,69
I,6,6,6,6,5,6,6,6,6,2,5
J,30,30,30,30,25,30,30,30,30,1,30
K,28,28,28,28,16,28,28,28,28,5,28
L,48,48,48,48,37,48,48,48,48,8,48
M,74,74,74,74,41,74,74,74,74,15,74
N,29,29,29,29,27,29,29,29,29,9,29
O,23,23,23,23,13,23,23,23,23,1,23
P,47,47,47,47,36,47,47,47,47,11,47
Q,2,2,2,2,2,2,2,2,2,0,2
R,41,41,41,41,32,41,41,41,41,7,41
S,86,86,86,86,61,86,86,86,86,23,85
T,30,30,30,30,23,30,30,30,30,10,30
U,1,1,1,1,1,1,1,1,1,0,1
V,15,15,15,15,14,15,15,15,15,1,15
W,33,33,33,33,25,33,33,33,33,9,33
Y,7,7,7,7,5,7,7,7,7,1,7
Z,3,3,3,3,2,3,3,3,3,0,3

In [79]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [85]:
df.set_index('Name').groupby(lambda name: name[0].upper()).size()

Name
A    51
B    72
C    69
D    43
E    12
F    31
G    41
H    69
I     6
J    30
K    28
L    48
M    74
N    29
O    23
P    47
Q     2
R    41
S    86
T    30
U     1
V    15
W    33
Y     7
Z     3
dtype: int64

# Multiindex를 이용한 group

In [86]:
df.set_index(['Pclass','Sex'])

,,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
Pclass,Sex,,,,,,,,,,
3,male,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S
1,female,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C
3,female,3,1,"Heikkinen, Miss. Laina",26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
1,female,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",35.0,1,0,113803,53.1000,C123,S
3,male,5,0,"Allen, Mr. William Henry",35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
2,male,887,0,"Montvila, Rev. Juozas",27.0,0,0,211536,13.0000,NaN,S
1,female,888,1,"Graham, Miss. Margaret Edith",19.0,0,0,112053,30.0000,B42,S
3,female,889,0,"Johnston, Miss. Catherine Helen ""Carrie""",NaN,1,2,W./C. 6607,23.4500,NaN,S
1,male,890,1,"Behr, Mr. Karl Howell",26.0,0,0,111369,30.0000,C148,C
3,male,891,0,"Dooley, Mr. Patrick",32.0,0,0,370376,7.7500,NaN,Q

In [88]:
df.set_index(['Pclass','Sex']).groupby(level=0).mean() # level=0  Pclass 별 그룹핑

<ipython-input-88-2c37085fadec>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index(['Pclass','Sex']).groupby(level=0).mean()

        PassengerId  Survived        Age     SibSp     Parch       Fare
Pclass
1        461.597222  0.629630  38.233441  0.416667  0.356481  84.154687
2        445.956522  0.472826  29.877630  0.402174  0.380435  20.662183
3        439.154786  0.242363  25.140620  0.615071  0.393075  13.675550

In [89]:
df.set_index(['Pclass','Sex']).groupby(level=1).mean()

<ipython-input-89-731d7095ea38>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index(['Pclass','Sex']).groupby(level=1).mean()

        PassengerId  Survived        Age     SibSp     Parch       Fare
Sex
female   431.028662  0.742038  27.915709  0.694268  0.649682  44.479818
male     454.147314  0.188908  30.726645  0.429809  0.235702  25.523893

In [90]:
df.set_index(['Pclass','Sex']).groupby(level=[0, 1]).mean()   # level=[0, 1]  Pclass, Sex 별 그룹핑

<ipython-input-90-d03673f19b94>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index(['Pclass','Sex']).groupby(level=[0, 1]).mean()   # level=[0, 1]  Pclass, Sex 별 그룹핑

               PassengerId  Survived        Age     SibSp     Parch  \
Pclass Sex
1      female   469.212766  0.968085  34.611765  0.553191  0.457447
       male     455.729508  0.368852  41.281386  0.311475  0.278689
2      female   443.105263  0.921053  28.722973  0.486842  0.605263
       male     447.962963  0.157407  30.740707  0.342593  0.222222
3      female   399.729167  0.500000  21.750000  0.895833  0.798611
       male     455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Pclass Sex
1      female  106.125798
       male     67.226127
2      female   21.970121
       male     19.741782
3      female   16.118810
       male     12.661633

In [100]:
df.set_index(['Pclass','Sex']).groupby(level=[1, 0]).mean()

<ipython-input-100-6923d91f0d27>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index(['Pclass','Sex']).groupby(level=[1, 0]).mean()

               PassengerId  Survived        Age     SibSp     Parch  \
Sex    Pclass
female 1        469.212766  0.968085  34.611765  0.553191  0.457447
       2        443.105263  0.921053  28.722973  0.486842  0.605263
       3        399.729167  0.500000  21.750000  0.895833  0.798611
male   1        455.729508  0.368852  41.281386  0.311475  0.278689
       2        447.962963  0.157407  30.740707  0.342593  0.222222
       3        455.515850  0.135447  26.507589  0.498559  0.224784

                     Fare
Sex    Pclass
female 1       106.125798
       2        21.970121
       3        16.118810
male   1        67.226127
       2        19.741782
       3        12.661633

In [105]:
df.set_index(['Pclass','Sex']).groupby(level=[1, 0]).mean()['Age']

<ipython-input-105-668ed04dec48>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.set_index(['Pclass','Sex']).groupby(level=[1, 0]).mean()['Age']

Sex     Pclass
female  1         34.611765
        2         28.722973
        3         21.750000
male    1         41.281386
        2         30.740707
        3         26.507589
Name: Age, dtype: float64

In [107]:
df.groupby(['Sex', 'Pclass']).mean()['Age']

<ipython-input-107-32fd4539c2d7>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Sex', 'Pclass']).mean()['Age']

Sex     Pclass
female  1         34.611765
        2         28.722973
        3         21.750000
male    1         41.281386
        2         30.740707
        3         26.507589
Name: Age, dtype: float64

## aggregate(집계) 함수 사용하기
 - groupby 결과에 '집계함수'를 적용하여 그룹별 데이터 확인 가능

In [110]:
# aggregate 의 매개변수로 주어지는 함수는
#     입력 : n ->  리턴 :1개 값     이와같은 집계함수 형태이어야 한다

np.sum([10, 20, 30])

60

In [112]:
df.groupby(['Pclass', 'Sex']).sum()

<ipython-input-112-47f845c77eea>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Pclass', 'Sex']).sum()

               PassengerId  Survived      Age  SibSp  Parch       Fare
Pclass Sex
1      female        44106        91  2942.00     52     43  9975.8250
       male          55599        45  4169.42     38     34  8201.5875
2      female        33676        70  2125.50     37     46  1669.7292
       male          48380        17  3043.33     37     24  2132.1125
3      female        57561        72  2218.50    129    115  2321.1086
       male         158064        47  6706.42    173     78  4393.5865

In [113]:
df.groupby(['Pclass', 'Sex']).aggregate(np.sum)

<ipython-input-113-0ccaba9fa854>:1: FutureWarning: The operation <function sum at 0x7a53983660e0> failed on a column. If any error is raised, this will raise an exception in a future version of pandas. Drop these columns to avoid this warning.
  df.groupby(['Pclass', 'Sex']).aggregate(np.sum)

               PassengerId  Survived      Age  SibSp  Parch       Fare
Pclass Sex
1      female        44106        91  2942.00     52     43  9975.8250
       male          55599        45  4169.42     38     34  8201.5875
2      female        33676        70  2125.50     37     46  1669.7292
       male          48380        17  3043.33     37     24  2132.1125
3      female        57561        72  2218.50    129    115  2321.1086
       male         158064        47  6706.42    173     78  4393.5865

In [114]:
# 기본 집계 함수들은 문자열로 전달해주어도 동작
# 'sum', 'mean', 'count'...

In [116]:
df.groupby(['Pclass', 'Sex']).aggregate('sum')

<ipython-input-116-621bbc1785e1>:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.sum is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby(['Pclass', 'Sex']).aggregate('sum')

               PassengerId  Survived      Age  SibSp  Parch       Fare
Pclass Sex
1      female        44106        91  2942.00     52     43  9975.8250
       male          55599        45  4169.42     38     34  8201.5875
2      female        33676        70  2125.50     37     46  1669.7292
       male          48380        17  3043.33     37     24  2132.1125
3      female        57561        72  2218.50    129    115  2321.1086
       male         158064        47  6706.42    173     78  4393.5865

In [119]:
# 여러개의 집계함수를, list 로 전달

df.groupby(['Pclass', 'Sex']).aggregate([np.mean, np.sum, np.max])

# multi-level column 결과

<ipython-input-119-8b05b16fd9f7>:3: FutureWarning: ['Name', 'Ticket', 'Cabin', 'Embarked'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  df.groupby(['Pclass', 'Sex']).aggregate([np.mean, np.sum, np.max])

              PassengerId               Survived                Age           \
                     mean     sum  max      mean sum max       mean      sum
Pclass Sex
1      female  469.212766   44106  888  0.968085  91   1  34.611765  2942.00
       male    455.729508   55599  890  0.368852  45   1  41.281386  4169.42
2      female  443.105263   33676  881  0.921053  70   1  28.722973  2125.50
       male    447.962963   48380  887  0.157407  17   1  30.740707  3043.33
3      female  399.729167   57561  889  0.500000  72   1  21.750000  2218.50
       male    455.515850  158064  891  0.135447  47   1  26.507589  6706.42

                        SibSp              Parch                 Fare  \
                max      mean  sum max      mean  sum max        mean
Pclass Sex
1      female  63.0  0.553191   52   3  0.457447   43   2  106.125798
       male    80.0  0.311475   38   3  0.278689   34   4   67.226127
2      female  57.0  0.486842   37   3  0.605263   46   3   21.970121
       male    70.0  0.342593   37   2  0.222222   24   2   19.741782
3      female  63.0  0.895833  129   8  0.798611  115   6   16.118810
       male    74.0  0.498559  173   8  0.224784   78   5   12.661633


                     sum       max
Pclass Sex
1      female  9975.8250  512.3292
       male    8201.5875  512.3292
2      female  1669.7292   65.0000
       male    2132.1125   73.5000
3      female  2321.1086   69.5500
       male    4393.5865   69.5500

In [120]:
df.groupby(['Pclass', 'Sex'])[['Age', 'Fare', 'Survived']].aggregate([np.mean, np.sum, np.max])

                     Age                       Fare                       \
                    mean      sum   max        mean        sum       max
Pclass Sex
1      female  34.611765  2942.00  63.0  106.125798  9975.8250  512.3292
       male    41.281386  4169.42  80.0   67.226127  8201.5875  512.3292
2      female  28.722973  2125.50  57.0   21.970121  1669.7292   65.0000
       male    30.740707  3043.33  70.0   19.741782  2132.1125   73.5000
3      female  21.750000  2218.50  63.0   16.118810  2321.1086   69.5500
       male    26.507589  6706.42  74.0   12.661633  4393.5865   69.5500

               Survived
                   mean sum max
Pclass Sex
1      female  0.968085  91   1
       male    0.368852  45   1
2      female  0.921053  70   1
       male    0.157407  17   1
3      female  0.500000  72   1
       male    0.135447  47   1

# 도전 : 각 객실등급별 탑승승객인원, 생존자수, 생존률은?

In [173]:
df.groupby('Pclass')['Survived'].aggregate(['count', 'sum', 'mean']).rename(columns={'count': '승객수', 'sum': '생존자 수', 'mean': '생존률'})

        승객수  생존자 수       생존률
Pclass
1       216    136  0.629630
2       184     87  0.472826
3       491    119  0.242363

# DataFrame 정렬하기
.sort_values()

In [174]:
df

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [176]:
df.sort_values('Age')  # 기본 오름차순

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
755,756,1,2,"Hamalainen, Master. Viljo",male,0.67,1,1,250649,14.5000,NaN,S
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
78,79,1,2,"Caldwell, Master. Alden Gates",male,0.83,0,2,248738,29.0000,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [177]:
df.sort_values('Age', ascending=False) # 내림차순

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [179]:
# 여러 컬럼 기준으로 정렬
df.sort_values(['Pclass', 'Age'])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
305,306,1,1,"Allison, Master. Hudson Trevor",male,0.92,1,2,113781,151.5500,C22 C26,S
297,298,0,1,"Allison, Miss. Helen Loraine",female,2.00,1,2,113781,151.5500,C22 C26,S
445,446,1,1,"Dodge, Master. Washington",male,4.00,0,2,33638,81.8583,A34,S
802,803,1,1,"Carter, Master. William Thornton II",male,11.00,1,2,113760,120.0000,B96 B98,S
435,436,1,1,"Carter, Miss. Lucile Polk",female,14.00,1,2,113760,120.0000,B96 B98,S
...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S

In [180]:
# 오름/내림 차순 지정
df.sort_values(['Pclass', 'Age'], ascending=[False, True])

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
803,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
469,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
644,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
164,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
172,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
766,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
793,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C
815,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
839,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
849,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C

In [186]:
# 정렬된 인덱스의 값을 초기화
df.sort_values(['Pclass', 'Age'], ascending=[False, True]).reset_index(drop=True)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,804,1,3,"Thomas, Master. Assad Alexander",male,0.42,0,1,2625,8.5167,NaN,C
1,470,1,3,"Baclini, Miss. Helene Barbara",female,0.75,2,1,2666,19.2583,NaN,C
2,645,1,3,"Baclini, Miss. Eugenie",female,0.75,2,1,2666,19.2583,NaN,C
3,165,0,3,"Panula, Master. Eino Viljami",male,1.00,4,1,3101295,39.6875,NaN,S
4,173,1,3,"Johnson, Miss. Eleanor Ileen",female,1.00,1,1,347742,11.1333,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,767,0,1,"Brewe, Dr. Arthur Jackson",male,NaN,0,0,112379,39.6000,NaN,C
887,794,0,1,"Hoyt, Mr. William Fisher",male,NaN,0,0,PC 17600,30.6958,NaN,C
888,816,0,1,"Fry, Mr. Richard",male,NaN,0,0,112058,0.0000,B102,S
889,840,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C
890,850,1,1,"Goldenberg, Mrs. Samuel L (Edwiga Grabowska)",female,NaN,1,0,17453,89.1042,C92,C

In [178]:
# DataFrame -> Csv

In [189]:

save_file = os.path.join(dataset_dir, 'titanic_result1.csv')
result_df = df.sort_values(['Pclass', 'Age'], ascending=[False, True]).reset_index(drop=True)
result_df.to_csv(save_file, index=False)