<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/040_%EC%9E%85%EB%A0%A5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 기본입력함수 input()

In [2]:
# 파이썬 기본입력 함수 input()
# 기본적으로 input() 함수는 키보드로 부터 입력받아
# 문자열(str) 으로 리턴합니다

In [4]:
a = input()

10

In [5]:
a

'10'

In [8]:
# a + 2  input 결과값은 str, 산술연산 불가

In [9]:
a = int(input())

10

In [11]:
a + 20, type(a)

(30, int)

In [14]:
print("키를 입력하세요", end="")
height = float(input())
print(height, type(height))

키를 입력하세요55.5
55.5 <class 'float'>

In [15]:
# prompt 를 사용한 input
age = int(input("나이를 입력하세요: "))
print('age=',age)

나이를 입력하세요: 33
age= 33

## input으로 한번에 여러개입력받기

In [16]:
input("3개를 입력하세요")

3개를 입력하세요10 20 30

'10 20 30'

In [19]:
# a, b, c = input("3개를 입력하세요")

In [ ]:
# 방법1: input().split() 공백기준으로 구분

In [22]:
a, b, c = input("3개를 입력하세요").split()
print(f'a={a}, b={b}, c={c}')

3개를 입력하세요10 20 30
a=10, b=20, c=30

In [23]:
a + b + c

'102030'

In [24]:
int(a) + int(b) + int(c)

60

In [25]:
# 입력한 str(들)을 한번에 변환하기. map() 함수 사용
# 변수1, 변수2 ... = map(int, input().split())

In [28]:
a, b, c = map(int, input().split())
print(f'a={a}, b={b}, c={c}')

10 20 30
a=10, b=20, c=30

In [29]:
a + b + c

60

In [30]:
#  input() =>  "10 20 30"
#  split() => "10"   "20"   "30"
#  map()  =>   ↓     ↓    ↓
#            int()  int()  int()
#              ↓     ↓     ↓
#              10    20     30

### 도전

In [31]:
# 세 개의 정수를 입력받아 합과 평균을 출력하는 프로그램을 작성하시오.
# (단 평균은 소수 이하를 버림하여 정수 부분만 출력한다.)

# [입력예]
# 3개의 정수 입력:10 20 44
# 합= 74
# 평균= 24

In [47]:
a, b, c = map(int, input().split())
print(f'합 {a+b+c}')
print(f'평균 {(a+b+c)//3}')

10 20 44
합 74
평균 24