<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/050_list.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
# 여러개의 데이터를 담는 집합 데이터 타입들..
#1. list   :  순서있다.  중복허용,  mutable
#2. tuple  :  순서있다,  중복허용,  immutable
#3. set : 순서없다,  중복허용안함
#4. dict : key, value 쌍으로 구성, 순서없다.

# List

In [7]:
# list 는   [   ]  으로 만든다
# 데이터(원소) 들은 , 콤마로 구분한다
# 각 데이터(원소) 들은 어떠한 타입도 가능하다

In [10]:
animals = ['dog','cat','bird','fish']
print(animals, type(animals))

['dog', 'cat', 'bird', 'fish'] <class 'list'>

## index(인덱싱)
list는 저장 '순서' 가 있다

In [12]:
animals[0]

'dog'

In [18]:
# animals[4] indexError

In [19]:
# 음수 인덱싱 가능!
animals[-1]

'fish'

## list 는 mutable 하다
원소 변경 가능

In [23]:
animals[2] = 'mouse'
print(animals)

['dog', 'cat', 'mouse', 'fish']

## 슬라이싱 (slicing)
- 일부분 추출
- 범위연산자[:] 사용
- step 값 사용가능

In [25]:
animals = ['dog', 'dog', 'cat', 'bird', 'fish']

In [26]:
animals

['dog', 'dog', 'cat', 'bird', 'fish']

In [32]:
animals[0:3] # from 0 to before 3

['dog', 'dog', 'cat']

In [31]:
animals[1:4] # from 1 to before 4

['dog', 'cat', 'bird']

In [33]:
animals[2:] # from 2 to end

['cat', 'bird', 'fish']

In [34]:
animals[:] # all elements

['dog', 'dog', 'cat', 'bird', 'fish']

In [36]:
i = 2
animals[:i]

['dog', 'dog']

In [67]:
# step 값
myList = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(myList[1:7])
print(myList[1:7:2])
print(myList[3::3])  #[시작:끝:간격]
print(myList[::])
print(myList[::2])
print(myList[5:0]) #[]
print(myList[5:0:-1])
print(type(myList), type(myList[::]))

[1, 2, 3, 4, 5, 6]
[1, 3, 5]
[3, 6, 9]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 2, 4, 6, 8, 10]
[]
[5, 4, 3, 2, 1]
<class 'list'> <class 'list'>

## list의 메소드

In [69]:
# append()

In [72]:
print(animals)
animals.append('tiger') #리턴값 none, 원본변화 (list 가 mutable)

['dog', 'dog', 'cat', 'bird', 'fish', 'tiger']
['dog', 'dog', 'cat', 'bird', 'fish', 'tiger', 'tiger']

In [73]:
print(animals)

['dog', 'dog', 'cat', 'bird', 'fish', 'tiger', 'tiger']

In [76]:
del(animals[1])

In [77]:
animals

['dog', 'cat', 'bird', 'fish', 'tiger']

# list 연산 + , *

In [80]:
animals = ["dog", "dog", "cat", "bird"]
colors = ["white", "blue", "red"]

# list + list => list
animals + colors

['dog', 'dog', 'cat', 'bird', 'white', 'blue', 'red']

# 다차원 리스트

In [83]:
# 1차원 리스트
colors[0], colors[1]

('white', 'blue')

In [84]:
data = [
    [1,2,3],
    [10,20,30],
    [40,50,60],
]

In [85]:
len(data)

3

In [86]:
data

[[1, 2, 3], [10, 20, 30], [40, 50, 60]]

In [87]:
data[0]

[1, 2, 3]

In [89]:
# data --> 2차원 list
# data[0] --> 1차원 list
# data[0][0] --> 0차원, scalar 값


# index 할때마나 차원감소 발생

[[1, 2, 3], [10, 20, 30]]

In [90]:
data = [
    [1, 2, 3, 4, 5],
    [10, 20, 30, 40, 50],
    [11, 22, 33, 44, 55]
]

In [95]:
[10, 20, 30]
data[1][:3] #인덱싱은 차원감소 발생, 슬라이싱은 차원감소 x

[10, 20, 30]

In [96]:
data[0:2]

[[1, 2, 3, 4, 5], [10, 20, 30, 40, 50]]

- iterable
- str, list, tuple, set, dict 는 모두 iteralbe 하다

---
# Assignment Unpacking
list 는 iterable 객체다

대입연산자와 iterable 을 사용하여 여러 개의 변수에 대입 가능  (이를 Assignment unpacking 이라 함)

In [101]:
a,b,c,d = 1, 2, 3, 4
a,b,c,d

(1, 2, 3, 4)

In [100]:
a,b,c,d, = [1,2,3,4]
a,b,c,d,

(1, 2, 3, 4)

In [102]:
a,b,c, = '최진무'
a,b,c

('최', '진', '무')

In [103]:
a, b, c = [1, 2, [3, 4]]
a,b,c

(1, 2, [3, 4])

In [109]:
# starred expression 사용 하면 unpack 되는 값들보다 적은수의 변수들로도 받아낼수 있다.
*a, b, c, d = [1, 2, 3, 4, 5]
a, b, c, d

([1, 2], 3, 4, 5)

In [110]:
#*a, *b, c, d = [1, 2, 3, 4, 5] 복수개의 starred expression은 에러

In [111]:
_, a, _, b = [1, 2, 3, 4]
a, b

(2, 4)

In [112]:
my_list = [a:=3, b:=5, c:=7, d:=9] # walrus 연산자 사용  (Python 3.8 이상)
print(my_list)
print(a)
print(b)
print(c)
print(d)

[3, 5, 7, 9]
3
5
7
9

# list 에 데이터 삽입하기

In [113]:
# 방법1 slice 사용

In [114]:
animals = ["dog", "dog", "cat", "bird"]
# cat 의 위치에 ["shark", "fish"] 추가 하여 ['dog', 'dog', 'shark', 'fish', 'bird']  ← 이렇게 만들고 싶다면?

In [115]:
animals[2] = ['shark', 'fish']
animals

['dog', 'dog', ['shark', 'fish'], 'bird']

In [116]:
animals = ["dog", "dog", "cat", "bird"]
# cat 의 위치에 ["shark", "fish"] 추가 하여 ['dog', 'dog', 'shark', 'fish', 'bird']  ← 이렇게 만들고 싶다면?

In [117]:
#slicing의 결과에 '대입' 가능
animals[2:3] = ['shark', 'fish']

In [118]:
animals

['dog', 'dog', 'shark', 'fish', 'bird']

In [119]:
animals = ["dog", "dog", "cat", "bird"]
# cat, bird 의 위치에 shark, fish 삽입 해보기

animals[2:] = ['shark','fish']
animals

['dog', 'dog', 'shark', 'fish']

# 방법2 .insert() 사용

In [120]:
fruits = ["Apple", "Banana", "Orange"]

fruits.insert(0, "Lemon")
fruits

['Lemon', 'Apple', 'Banana', 'Orange']

# .index(value): 값으로 인덱스 찾기

In [121]:
fruits.index("Apple")

1

In [123]:
# fruits.index("찾아봐") #못찾으면 에러

# .remove(value) 특정 데이터 삭제

In [124]:
fruits

['Lemon', 'Apple', 'Banana', 'Orange']

In [125]:
fruits.remove('Banana')

In [126]:
fruits

['Lemon', 'Apple', 'Orange']

# pop()
  리스트 맨 뒤의 원소 제거하여 리턴(원본변화)

In [127]:
animals

['dog', 'dog', 'shark', 'fish']

In [128]:
animals.pop()

'fish'

In [129]:
#  리스트의 중간 원소를 pop 할수 있다
animals = ['dog', 'shark', 'cat', 'bird']
animals.pop(1)

'shark'

In [130]:
animals

['dog', 'cat', 'bird']

# .sort() 와 .reverse()

In [131]:
animals

['dog', 'cat', 'bird']

In [132]:
animals.sort()

In [133]:
animals

['bird', 'cat', 'dog']

In [135]:
animals.sort(reverse=True)
animals

['dog', 'cat', 'bird']

In [139]:
animals[::-1] #원본 불변

['bird', 'cat', 'dog']

In [140]:
animals

['dog', 'cat', 'bird']

In [141]:
animals.reverse() # 원본 변경

In [142]:
animals

['bird', 'cat', 'dog']

In [143]:
animals.reverse()

In [144]:
animals

['dog', 'cat', 'bird']

# sorted() 함수

In [145]:
# sorted(iterable, key=key, reverse=reverse)
#    iterable : sort 대상 (list, dict, tuple 등..)
#   key : 대소비교를 하는 함수 (디폴트 None)
#   reverse : False 오름차순 (디폴트), True 내림차순

# 리턴값 : 정렬된 list

In [151]:
a = ["b", "g", "a", "d", "f", "c", "h", "e"]
sorted(a) #결과는 list, 원본 변경 안함

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

# list 와 **in 연산자**

In [154]:
a

['b', 'g', 'a', 'd', 'f', 'c', 'h', 'e']

In [155]:
'f' in a

True

In [156]:
'f' not in a

False

# str 의 index, slice, in
- str 도 iterable 객체다
- str 은 immutable 객체다

In [169]:
str2 = "hello python"
print(str2[0])
print(str2[1])
print(str2[11])
print(str2[-2]) # 이터러블 이떠러블 있허더흘
print(str2[::2])
print(str2[-1::-2])

h
e
n
o
hlopto
nhy le

In [170]:
't' in str2

True

In [171]:
'T' in str2

False

In [172]:
'Py' in str2

False

In [173]:
sorted(str2) #원본 변경 안함

[' ', 'e', 'h', 'h', 'l', 'l', 'n', 'o', 'o', 'p', 't', 'y']

In [174]:
str2[0]

'h'

In [175]:
# str2[0] = 'K'  #immutable 객체는 변경 불가능

TypeError: 'str' object does not support item assignment

In [176]:
a = ('a','b') #tuple immutable

In [177]:
a

('a', 'b')

In [178]:
a[0]

'a'

In [180]:
# str.join() : 하나의 str

In [183]:
animals = ["dog", "shark", "cat", "bird"]
result = "-".join(animals)
result

'dog-shark-cat-bird'

In [184]:
animals

['dog', 'shark', 'cat', 'bird']

In [ ]:
# str.split() : str -> list로 쪼갬

In [185]:
result.split()

['dog-shark-cat-bird']

In [186]:
result.split("-")

['dog', 'shark', 'cat', 'bird']

In [187]:
animals

['dog', 'shark', 'cat', 'bird']

In [188]:
result

'dog-shark-cat-bird'

In [189]:
myStr = "Hello Python 2024"

# split() 에 매개변수 없이 사용하면 공백 기준으로 문자열 쪼개짐
# 공백 : 띄어쓰기, 탭, 줄바꿈...

In [190]:
myStr.split()

['Hello', 'Python', '2024']

In [192]:
myStr2 = '    Hello   PyThon  \t\n 2024   \t  '
print(myStr2)

    Hello   PyThon
 2024

In [193]:
myStr2.split()

['Hello', 'PyThon', '2024']

In [194]:
# list(iterable) -> list

In [195]:
myStr3 = "HongKillDong"
list(myStr3)

['H', 'o', 'n', 'g', 'K', 'i', 'l', 'l', 'D', 'o', 'n', 'g']

## 도전

In [196]:
# 문자열1 - 자가진단4

# 문자열을 입력받고 정수를 입력 받아서 문자열의 맨 뒤부터 정수만큼 출력하는 프로그램을 작성하시오.
#  만약 입력받은 정수가 문자열의 길이보다 크다면 맨 뒤부터 맨 처음까지 모두 출력한다.
# (문자열 길이는 최대 100자 이하이다. )



# 입력 예
# korea 3

# 출력 예
# aer

In [235]:
[a,b]# 문자열1 - 자가진단4

# 문자열을 입력받고 정수를 입력 받아서 문자열의 맨 뒤부터 정수만큼 출력하는 프로그램을 작성하시오.
#  만약 입력받은 정수가 문자열의 길이보다 크다면 맨 뒤부터 맨 처음까지 모두 출력한다.
# (문자열 길이는 최대 100자 이하이다. )



# 입력 예
# korea 3

# 출력 예
# aer

str,n = input().split()
str[-1:-(int(n)+1):-1]

abcdefg 8

'gfedcba'

In [194]:
korea