<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/051_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# tuple

In [1]:
# tuple
# 콤마 , 로 구분된 집합 데이터 타입

In [3]:
animals = ("dog", "dog", "cat", "bird")

In [4]:
animals

('dog', 'dog', 'cat', 'bird')

In [5]:
type(animals)

tuple

In [6]:
student = "Choi"
type(student)

str

In [7]:
student = "Choi","Jin","Mu"
type(student)

tuple

In [8]:
student[0]

'Choi'

In [10]:
# student[1] = "hello"  TypeError: 'tuple' object does not support item assignment

In [12]:
# 원소 한개짜리 tuple 을 만드려면?
animals = ("dog")  #str
print(type(animals), animals, len(animals))

<class 'str'> dog 3

In [13]:
# 원소 한개짜리 tuple 을 만드려면?
# 반드시 뒤에 콤마 하나 붙여주어야 한다
animals = ("dog",)  #tuple
print(type(animals), animals, len(animals))

<class 'tuple'> ('dog',) 1

In [14]:
# 원소 한개짜리 tuple 을 만드려면?
# 반드시 뒤에 콤마 하나 붙여주어야 한다
animals = "dog",  #tuple
print(type(animals), animals, len(animals))

<class 'tuple'> ('dog',) 1

In [15]:
#index, slice 가능

In [16]:
student

('Choi', 'Jin', 'Mu')

In [17]:
student[0]

'Choi'

In [18]:
student[1:3]

('Jin', 'Mu')

In [20]:
# student[1] = "Chiken" #TypeError: 'tuple' object does not support item assignment

In [21]:
#tuple은 immutable 하다 <- 원소 값 변경 불가

In [22]:
str = 'a',
str

('a',)

In [23]:
str2 = 'b','c'
str2

('b', 'c')

In [26]:
#값변경은 x , 주소 변경은 가능
str = str2
str

('b', 'c')

In [28]:
student + animals

('Choi', 'Jin', 'Mu', 'dog')

In [29]:
student * 3

('Choi', 'Jin', 'Mu', 'Choi', 'Jin', 'Mu', 'Choi', 'Jin', 'Mu')

In [23]:
# tuple 은 언제 사용하나?
# 1. 주로 변경되지 말아야 할 데이터들
# 2. 복수의 값 '전달' 목적으로.

In [31]:
# 사각형의 weight, height 값
rec = [100, 200]
print(rec[0], rec[1])

weight = rec[0]
height = rec[1]

print(weight, height)

100 200
100 200

In [34]:
width, height = 100, 200
print(weight, height)

100 200

In [37]:
# 나눗셈 결과의 몫 과 나머지
quotient, remainder = divmod(5, 2)

print(quotient, remainder)

2 1

# set

In [45]:
# set
# 만드는 방법
# 1.set()  함수로 만들수도 있고
# 2. {  } 으로 만들수도 있다.

#1. list   :  순서있다.  중복허용,  mutable
#2. tuple  :  순서있다,  중복허용,  immutable
#3. set : 순서없다,  중복허용안함
#4. dict : key, value 쌍으로 구성, 순서없다.

In [46]:
animals = "dog"

print(animals, type(animals), len(animals))

dog <class 'str'> 3

In [49]:
animals = ["dog"] # list

print(animals, type(animals), len(animals))

['dog'] <class 'list'> 1

In [48]:
animals = "dog", # tuple

print(animals, type(animals), len(animals))

('dog',) <class 'tuple'> 1

In [47]:
animals = {"dog"} # set

print(animals, type(animals), len(animals))

{'dog'} <class 'set'> 1

In [50]:
animals = {"dog","cat","bird","Kang"}

print(animals, type(animals), len(animals))

{'dog', 'cat', 'Kang', 'bird'} <class 'set'> 4

In [52]:
# animals[0] # TypeError: 'set' object is not subscriptable

In [55]:
str1 = "aaabbbbcccddaaa"
print(list(str1))

['a', 'a', 'a', 'b', 'b', 'b', 'b', 'c', 'c', 'c', 'd', 'd', 'a', 'a', 'a']

In [56]:
animals = ["A","B","C","D"]

In [58]:
# empty set
a = set()

a, type(a), len(a)

(set(), set, 0)

In [63]:
#add(), remove()
a.add('cat')
a.add('dog')
print(a)
a.remove('cat')
print(a)

{'dog', 'cat'}
{'dog'}

In [65]:
# a.remove('cat') #KeyError: 'cat