<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/052_dict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# dict: 딕셔너리(사전)

In [1]:
# dict : 딕셔너리

# dictionary 데이터 타입은  key-value 쌍으로 저장되는 데이터 집합이다.

# {Key1:Value1, Key2:Value2, Key3:Value3 ...}
# "이름" = "홍길동", "생일" = "몇 월 몇 일"   과 같은 자료형 담음

# 기존의 list, tuple 등은 value 중심
# 그러나 이 또한 알고 보면 key-value 쌍으로 구성

# 순서는 고정이 안된다
# key 는 중복 안된다.

In [4]:
student = {
    "name" : "hong",
    "email":"choi@mail.com"
}
print(student)
print(type(student))
print(len(student))

{'name': 'hong', 'email': 'choi@mail.com'}
<class 'dict'>
2

In [5]:
# value 접근
print(student['name']) # 방법1
print(student.get('name')) #방법2

hong
hong

In [8]:
# 차이점: 존재하지 않는 key 로 접근 하는 경우
# print(student['age']) # KeyError: 'age'

In [10]:
# 차이점: 존재하지 않는 key 로 접근 하는 경우
print(student.get('age')) # return None

None

In [13]:
print(None == student.get('age'))

True

In [14]:
# get()  을 사용하면 예외적인 상황에서도
# 동작 가능하게 처리 가능
# student.get(key, default) : key 값이 없으면 default 값으로 리턴

print(student.get('age',20))

20

In [15]:
# 수정하기
student['name'] = '서현기'
student

{'name': '서현기', 'email': 'choi@mail.com'}

In [16]:
# 추가하기
student['address'] = '역삼동'
student

{'name': '서현기', 'email': 'choi@mail.com', 'address': '역삼동'}

In [17]:
# 삭제하기
del(student['email'])
student

{'name': '서현기', 'address': '역삼동'}

### dict.update()
해당 key값 업데이트<br>
해당 key 가 없으면 새로이 추가

In [18]:
student

{'name': '서현기', 'address': '역삼동'}

In [19]:
student.update({"name":"Hong"}) #return None

In [20]:
student

{'name': 'Hong', 'address': '역삼동'}

In [21]:
student.update({"age":13,"address":'논현동'})
student

{'name': 'Hong', 'address': '논현동', 'age': 13}

In [22]:
# 원소 추가
# list => append()
# set => add()
# dict => update()
# 공통 return None

## key, value 의 타입
- **value** 는 어떠한 타입이라도 가능!
- **key** 는 hash 가능한 타입만 가능!   (ex: int, float, str, bool..)

In [25]:
dict1 = {
    1 : "Choi",
    1 : "Jin",
    1 : "Mu",
    2 : "DoRaEMong",
    3 : "Jang",
    "two" : { #dict
        3.14 : "pi",
        "pi" : 3.14
    },
    False : [10,20,30], #list
}

dict1

{1: 'Mu',
 2: 'DoRaEMong',
 3: 'Jang',
 'two': {3.14: 'pi', 'pi': 3.14},
 False: [10, 20, 30]}

In [26]:
len(dict1)

5

In [27]:
dict1["two"][3.14]

'pi'

In [29]:
dict1[False][2]

30

In [30]:
dict1[0 == 1]

[10, 20, 30]

In [32]:
print(dict1.get('zz'))

None

In [33]:
# dict.keys(), dict.values()
student = {
        "name":"최현진",
        "email":"choi@mail.com",
        "age": 23,
        "addr" : "서울"
        }

In [35]:
student.keys() # key들로만 구성된 iterable 객체 리턴됨

dict_keys(['name', 'email', 'age', 'addr'])

In [38]:
student.values() # value들로만 구성된 iterable 객체 리턴됨

dict_values(['최현진', 'choi@mail.com', 23, '서울'])

In [39]:
set(student.keys())

{'addr', 'age', 'email', 'name'}

In [40]:
set(student) # dict 자체도 iterable 하다

{'addr', 'age', 'email', 'name'}

In [43]:
#dict 의 in 연산자
# key 의 존재 여부
"name" in student

True

In [44]:
"Choi" in student

False

# Empty data

In [48]:
# 비어있는 데이터
a = [] # list
a = "" # str
a = () # tuple
a = {} # dict
a = set() # set
type(a), len(a)

(set, 0)

# items()

(key,value) 쌍으로 이루어진 iterable 객체 리턴

In [50]:
dict_A = {"b":5, "c":3, "a":2}
dict_A

{'b': 5, 'c': 3, 'a': 2}

In [53]:
dict_A.items()

dict_items([('b', 5), ('c', 3), ('a', 2)])

In [55]:
result = list(dict_A.items())
result

[('b', 5), ('c', 3), ('a', 2)]

In [56]:
result[0][0] # key

'b'

In [57]:
result[0][1] # value

5

## dict 정렬하여 출력하기
기본적으로 dict 는 '순서' 가 없다
- key 로 정렬하여 출력
- value 로 정렬하여 출력

In [58]:
sorted(dict_A.items()) #key 오름차순

[('a', 2), ('b', 5), ('c', 3)]

In [63]:
# value 오름 차순으로 정렬
dict_items = dict_A.items()
sorted(dict_items, key=lambda x: x[1])

[('a', 2), ('c', 3), ('b', 5)]

In [65]:
# value 내림 차순으로 정렬
dict_items = dict_A.items()
sorted(dict_items, key=lambda x: x[1], reverse=True)

[('b', 5), ('c', 3), ('a', 2)]

In [57]:
# 	파이썬의 데이터타입들 (Datatype, 자료형)

# 	1. 정수형 : int			ex) 10, 2, 512, 256 ...
# 	2. 실수형 : float		ex) 3.14   100.0  -234.3455 ...
# 	3. 문자열 : str			ex) "Hello"  '한국'   ...
# 	4. 부울 : bool			ex) True  , False
# 	5. 리스트 : list			ex) []  [10, 20]   ['Abc', 'ddd', 'ccc']
# 	6. 튜플 : tuple			ex) ()   (10, 20)  ('aaa', 'bbb', 'ccc')
# 	7. 딕셔너리 : dictionary  ex) {}   {'name':'pey', 'age': 10]
#   8. 세트 : set             ex) {}   {10, 20, 30}
# 	9. None