<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/070_%EC%88%9C%ED%99%98%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 순환문(loop)

In [1]:
# while, for

# while 순환문

In [2]:
# while 순환문 구조,  조건문이 '참' 인 동안 수행문장을 반복수행

# while <조건문>:
#     <수행할 문장1>
#     <수행할 문장2>
#     <수행할 문장3>
#     ...
# else:
#      순환문 빠져나오기 전에 수행

In [11]:
num = 0
while num < 5:
  print("Hello",num)
  num+=1
else:
  print('while 종료전 last num:', num)

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
while 종료전 last num:  5

# 중첩 순환문

In [ ]:
# 구구단 출력 : 2단 ~ 9단
# 중첩된 for 문

'''
2 x 1 = 2
2 x 2 = 4
...
2 x 9 = 18
3 x 1 = 3
...
4 x 1 = 4
…
...
9 x 9 = 81
'''
x = 2
y = 1
while (x<10):
  while(y<10):
    print(x,'x',y,'=',x*y)
    y+=1
  x+=1
  y=1

# break, continue

In [15]:
n = 1
while True: # 무한루프
  print(n, end = ' ')
  if n == 100: break
  n += 1

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15 16 17 18 19 20 21 22 23 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95 96 97 98 99 100

In [17]:
n = 0
while n <= 100: # 무한루프
  n += 1
  if n % 2 == 0: continue
  print(n, end = ' ')

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99 101

In [1]:
# for 순환문
# 기존의 다른 프로그래밍 언어의 for 문에 비해 파이썬은 매우 직관적이고 사용하기 편리

# 구문]
# for 변수 in iterable객체:
#     수행할 문장1
#     수행할 문장2
#     ....
# else:
#      순환문 빠져나오기 전에 수행

# iterable한 객체들 => range(숫자), str, list, set, tuple, dict ...

In [22]:
for n in range(1,10,2):
  print(n)

1
3
5
7
9

In [23]:
for i in range(3): print('hi', end=' ')

hi hi hi

In [24]:
for i in range(4, 15, 3): print(i, end=" ")

4 7 10 13

In [25]:
for i in range(10,0): print(i) # 순환 x

In [27]:
for i in range(10,0,-2): print(i) # 순환 o

10
8
6
4
2

In [ ]:
# 구구단 을 for 문으로 만들어 보자!
# 도전]

for x in range(2,10):
  for y in range(1,10): print(x,'*',y,'=',x*y)

In [30]:
animals = ["a","b","c","d","e","f"]

In [34]:
for animal in animals:
  print(animal)

a
b
c
d
e
f

In [37]:
for ch in "Hello World in Python":
  print(ch, end=',')

H,e,l,l,o, ,W,o,r,l,d, ,i,n, ,P,y,t,h,o,n,

In [40]:
md = {'name':'Choi', 'age':24, 'grade':4}
for dict in md:
  print(dict, md[dict])

name Choi
age 24
grade 4

In [41]:
md.items()

dict_items([('name', 'Choi'), ('age', 24), ('grade', 4)])

In [43]:
for d in md.items():
  print(d[0], d[1])

name Choi
age 24
grade 4

In [44]:
for k, v in md.items():
  print(k, v)

name Choi
age 24
grade 4

In [47]:
for k in (1,2,3,4):
  print(k)

1
2
3
4