<a href="https://colab.research.google.com/github/leejonghyeon99/python_stu/blob/main/080_%ED%95%A8%EC%88%98.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 함수(Function)

In [ ]:
# 함수 만들기 (함수 정의 : Function Definition)

# def 키워드로 작성

# def 함수이름( 매개변수 들):
#     함수 본체 <수행할 문장1>
#     함수 본체 <수행할 문장2>
#     ...

# 함수의 동작 정의
#   입력(매개변수) -> 본체 수행 -> 결과(리턴)

# 함수이름은 변수 이름 작성과 거의 동일한 규칙

#----------------------------------------------------------
# 함수 호출 (함수 사용 )  Function call, invoke
# 함수호출시 넘겨지는 인자(parameter) 값들은
# 함수의 매개변수(argument)들이 받습니다.
# 매개변수는 0개, 한개, 여러개 있을수 있을수 있습니다

# 함수에는 리턴값이 있다.
# 리턴값은 함수를 호출(call) 한쪽에 돌려준다
# return 키워드로 리턴값을
# 함수 본체 수행중 return 을 만나면 함수를 종료 하게 됩니다
# 어떠한 타입도 리턴할수 있다.
# 리턴값은 없을수도 있다. None 리턴

In [3]:
def sayAnthem():
    print("동해물과 백두산이")
    print("마르고 닳도록")
    print("하느님이 보우하사")
    print("우리나라 만세")

sayAnthem()

동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리나라 만세

In [4]:
def callBack(call):
  call()

callBack(sayAnthem)

동해물과 백두산이
마르고 닳도록
하느님이 보우하사
우리나라 만세

In [5]:
# 매개변수
def sayName(name):
  print('Hello')
  print(f'My name is {name}')

In [8]:
# sayName() # TypeError: sayName() missing 1 required positional argument: 'name'

In [11]:
def sayAge(age):
  print(age)

In [12]:
def sayHello(name, age):
  print("--" * 10)
  sayName(name)
  sayAge(age)
  print("--" * 10)

sayHello('Ms.Jang',34)

--------------------
Hello
My name is Ms.Jang
34
--------------------

In [14]:
sayHello(name = 'DoraEmong', age = 34)
sayHello(age = 111, name = 'NANANANAN')

--------------------
Hello
My name is DoraEmong
34
--------------------
--------------------
Hello
My name is NANANANAN
111
--------------------

In [18]:
# sayHello(age = 28, 'Choi') #SyntaxError: positional argument follows keyword argument

In [22]:
# return

def add(a, b):
  result = a + b
  return result

In [23]:
add(10, 20)

30

In [24]:
add('10', '20')

'1020'

# tuple 을 리턴하기
여러개의 값을 리턴할 수 있다

In [26]:
def sum_and_mul(a,b):
  return a + b, a * b #tuple

In [27]:
sum_and_mul(10, 20)

(30, 200)

In [28]:
s, m = sum_and_mul(10, 20)
print(s, m)

30 200

# 디폴트 매개변수 (Default Parameter)

In [29]:
# 함수정의시 매개변수에 디폴트 값을 지정해 주면,  호출시 생략가능하다
# 생략된 상태에서 호출되면 디폴트 값으로 작동된다

# 디폴트 매개변수 작성 구문
#    def 함수명(매개변수명=디폴트값)

In [36]:
def say_myself(name, old, gender='M'):
  print(f'제 이름은 {name} 입니다.')
  print(f'나이는 {old} 입니다.')
  (gender == 'M') and print('남자입니다.')
  (gender == 'F') and print('여자입니다.')
  print()

In [34]:
say_myself('이재용',52, 'M')

제 이름은 이재용 입니다.
나이는 52 입니다.
남자입니다.

In [37]:
say_myself('토니 스타크', 61)

제 이름은 토니 스타크 입니다.
나이는 61 입니다.
남자입니다.

In [40]:
print('hello')
print('hello', end='\n')
print(10, 20, 30, sep=' ')

hello
hello
10 20 30

In [42]:
# SyntaxError: non-default argument follows default argument
# def say_myself2(name, adult = True, age):
#   pass

# 디폴트 매개변수, 주의 사항
# 디폴트 매개변수 사용하여 함수 정의시
# default argument  다음에 non-default  argument 정의 불가!!

# 가변매개변수 *args
### argument packing
입력값이 몇개가 올른지 모른다, 임의의 개수 인자 받기

In [43]:
# 가변매개변수(various arguments) 함수 구문

# def 함수이름(*매개변수):
#     <수행할 문장>
#     ...

# 함수 호출시 전달된 복수개의 매개변수는 하나의 tuple 의 형태로 묶여서(packing) 다루어진다
# 가변 매개변수도 어떠한 이름으로도 가능하긴 하나  관례적으로 args 를 많이 사용한다

In [46]:
def pack(*args):
  for n in args: print(n, end=" ")

In [48]:
pack(1,2,3,4,5,6,7,8,9, "zzzz")

1 2 3 4 5 6 7 8 9 zzzz

In [51]:
# *a = 10, 20, 30 #SyntaxError: starred assignment target must be in a list or tuple

In [52]:
# 다른 비가변 매개변수와 가변매개변수 혼합 사용 가능
# 그러나, 가변매개변수는 뒤에 오는 것을 추천한다

In [62]:
def sum_mul(oper, *args):
  result = None

  if(oper == 'sum'):
    result = 0
    for i in args: result += i
  elif oper == 'mul':
    result = 1
    for i in args: result *= i

  return result

In [59]:
a = sum_mul('sum',10, 20, 30)
print(a)

a = sum_mul('mul',10, 20, 30)
print(a)

60
6000

In [61]:
# 정상이긴한데 비추천
def sum_mul2(*args, oper):
  result = None

  if(oper == 'sum'):
    result = 0
    for i in args: result += i
  elif oper == 'mul':
    result = 1
    for i in args: result *= i

  return result

# 가변매개변수 **kwargs
키워드 매개변수

In [63]:
# kwargs : keyword argument 약자

# 함수호출시 함수의 인수로 key = value 형태로 주어지면
# 함수에선 kwargs 가 dict 형태로 packing 하여 받아옴

# **args = dict,  *args = tuple

In [64]:
def func(**kwargs):
  print(type(kwargs), len(kwargs), kwargs)

In [66]:
# func('choi') # TypeError: func() takes 0 positional arguments but 1 was given

In [70]:
func(name = 'choi')
func(name = 'choi', age = 30)

<class 'dict'> 1 {'name': 'choi'}
<class 'dict'> 2 {'name': 'choi', 'age': 30}

In [71]:
#*args, **args 혼용 가능

In [74]:
def func2(*args, **kwargs):
  print(args, kwargs)

func2(1,2,3, name = 'choi', age = 28)
# func2(1,2,3, name = 'choi', age = 28, 5, 6) # SyntaxError: positional argument follows keyword argument

(1, 2, 3) {'name': 'choi', 'age': 28}

# packing & unpacking

In [75]:
# * 의 의미

In [76]:
# 1. '함수 정의 시점' 에서의 * => packing 되어 받는다

In [80]:
def hello(*args):
  print(args)

hello(10) # tuple로 packing 되어 전달
hello(10, 20)
hello(10, 20, 30)

(10,)
(10, 20)
(10, 20, 30)

In [ ]:
# 2. '함수 호출 시점' 에서의 *

In [81]:
def add_numbers(a, b, c):
  return a + b + c

In [82]:
add_numbers(100, 200, 300)

600

In [85]:
data = (100, 200, 300)
# add_numbers(data) position error
add_numbers(data[0], data[1], data[2])

600

In [86]:
add_numbers(*data) # 호출 시점의 * => unpacking

600

In [91]:
add_numbers(*"ABC") # A, B, C  unpacking

'ABC'

In [92]:
student = {"name": "Sam", "email": "sam@mail.com"}

def print_dict(name, email):
    print(name, email)

In [94]:
print_dict(*student)

name email

In [103]:
# print() 와 동일한 동작을 하는 log() 함수 정의

In [104]:
def log(*args):
  print(*args)

In [105]:
log(10, 20, 30)

10 20 30

In [106]:
log('Choi',"JIN","MU")

Choi JIN MU

In [108]:
# log('Choi',"JIN","MU", sep='--')

In [109]:
def log(*args, **kwargs):
  print(*args, **kwargs)

In [110]:
log('Choi',"JIN","MU", sep="--")

Choi--JIN--MU

In [111]:
print('Choi',"JIN","MU", sep="--")

Choi--JIN--MU

# 파이썬의 내장함수 (Built-in Functions)
별도의 import 없이 바로 사용가능한 함수들

In [112]:
# 파이썬의 내장함수( built-in functions)
# 별도의 import 없이 바로 사용 가능한 함수들.

# 레퍼런스 :  https://docs.python.org/3/library/functions.html

# abs()	dict()	help()	min()	setattr()
# all()	dir()	hex()	next()	slice()
# any()	divmod()	id()	object()	sorted()
# ascii()	enumerate()	input()	oct()	staticmethod()
# bin()	eval()	int()	open()	str()
# bool()	exec()	isinstance()	ord()	sum()
# bytearray()	filter()	issubclass()	pow()	super()
# bytes()	float()	iter()	print()	tuple()
# callable()	format()	len()	property()	type()
# chr()	frozenset()	list()	range()	vars()
# classmethod()	getattr()	locals()	repr()	zip()
# compile()	globals()	map()	reversed()	__import__()
# complex()	hasattr()	max()	round()
# delattr()	hash()	memoryview()	set()

In [118]:
data = [10, 20, 30, 40]

In [122]:
min(data), max(data), sum(data)

tuple

In [123]:
type(sum)

builtin_function_or_method

### 실수로 내장함수를 덮어쓰기 한경우

In [124]:
# sum = 10 + 20

In [126]:
#sum(data)

In [128]:
#내장함수 복원
sum = __builtins__.sum

# 외장함수

In [130]:
# 파이썬 설치시 '기본적'으로 설치된 라이브러리로부터 사용 가능한 함수들

# 라이브러리(library) 란 파이썬 프로그래밍에 사용가능한 프로그램을을 모아놓은 것.

# https://docs.python.org/3/library/index.html    <-- Python Standard Library

## time 모듈(module)

In [131]:
import time

In [133]:
time.time() # 1970.1.1 00:00:00 초 기준으로 경과한 시간 (초)   타임스탬프(time stamp) 라고도 한다

1709623555.1230972

In [135]:
time.localtime()

time.struct_time(tm_year=2024, tm_mon=3, tm_mday=5, tm_hour=7, tm_min=27, tm_sec=53, tm_wday=1, tm_yday=65, tm_isdst=0)

In [137]:
import random

In [143]:
random.random()  # 0.0 <= 1.0 사이의 난수 값

0.39059116890585

In [142]:
random.randint(1,5)  # 1<=    <= 5 사이의 정수값

5

In [148]:
data = """
강준우
권희수
김동호
김미란
김종선
김주희
김창희
김효은
서현기
송민호
신철희
유상곤
이기원
이상진
이승원
이승준
이종현
임승빈
장고운
전광현
조재환
최강현
최정인
최진무
허지우
"""

In [151]:
data.split()

['강준우',
 '권희수',
 '김동호',
 '김미란',
 '김종선',
 '김주희',
 '김창희',
 '김효은',
 '서현기',
 '송민호',
 '신철희',
 '유상곤',
 '이기원',
 '이상진',
 '이승원',
 '이승준',
 '이종현',
 '임승빈',
 '장고운',
 '전광현',
 '조재환',
 '최강현',
 '최정인',
 '최진무',
 '허지우']

In [157]:
random.choice(data.split())

'권희수'

In [161]:
result = data.split()
random.shuffle(result)
result[:5]

['김동호', '장고운', '조재환', '최강현', '최진무']